
.converter {
    font-family: 'Roboto', sans-serif;
    padding: 2rem;

}


.messages p{

    background-color: orangered;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    color: white;
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: blue;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border-color: blue;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.result {

    font-size: 2rem;

}